  <div ng-controller="dashboard">

  {{programs[0]}}

  <div class="flex-container">
  <div class="flex-item"><img src={{programs.program_blueprints[0].icon_url}}></img></div>
    <div class="flex-item"><img src={{programs.program_blueprints[1].icon_url}}></img></div>
      <div class="flex-item"><img src={{programs.program_blueprints[2].icon_url}}></img></div>
    <div class="flex-item"><img src={{programs.program_blueprints[3].icon_url}}></img></div>
      <div class="flex-item"><img src={{programs.program_blueprints[4].icon_url}}></img></div>
    <div class="flex-item"><img src={{programs.program_blueprints[5].icon_url}}></img></div>
</div>

     
    </div>


<!-- 


 <table>

        <tr>
          <td><img src={{programs.program_blueprints[0].icon_url}}></img></td>
          <td><img src={{programs.program_blueprints[1].icon_url}}></img></td>
          <td><img src={{programs.program_blueprints[2].icon_url}}></img></td>
        </tr>
        <tr>
          <td><img src={{programs.program_blueprints[3].icon_url}}></img></td>
          <td><img src={{programs.program_blueprints[4].icon_url}}></img></td>
          <td><img src={{programs.program_blueprints[5].icon_url}}></img></td>
        </tr>
      </table>
      {{test}} this is meee -->