body {
	background-color: blue;

}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: lightgrey;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.flex-item {
    margin: 10px;
}

img{
    height:250px;
	width:250px;
}