#Jiff,
#goBack>img,
.backRibbon,
.flex-container,
.repeat {
  position: relative
}

body {
  background-color: #a9a9a9;
  text-align: center
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: 3em
}

.flex-item {
  margin: 10px
}

img {
  width: 23em;
  height: 23em
}

.backRibbon {
  background-image: url(../images/top.png);
  height: 10em;
  width: 100%;
  margin: none;
  text-align: left
}

#detailsTitle {
    font-size: 5em;
    font-family: Arial,Times, serif;
}

#goBack {
  font: 5em Fantasy, Times, serif;
  position: absolute
}

#description {
    font: 3em arial;
    margin-bottom: 0.7em;
}

#incentives {
    font-size: 1em;
    font-style: italic;
    margin: 1em;
    font-weight: bold;
}
body,
html,
p {
  margin: 0;
  padding: 0;
  color:white;
}

#programTitle {
  font-size: 1.8em
}

#steps #incentives {
  font-size: 1em
  margin:0.5em;
}

#goalsHeading {
  font: 6em Fantasy, Times, Serif
}

#goalTitle {
  font-weight: 700;
  font-size: 2em
}

.repeat {
  left: 10.5%
}

.programDetails {
  color: #fff
}

#goBack>img {
  width: 1.5em;
  height: 1.5em;
  top: .3em
}

#Jiff {
  height: 20em;
  width: 30em;
  left: 2.5em
}

.backRibbon+img {
  margin: 2em
}

#goalsHeading {
  margin-top: .3em;
  margin-bottom: .3em
}

.total {
  font-size: 3em;
  font-family: Fantasy, Serif;
  margin-top: .4em;
  margin-bottom: .4em
}

#hook {
    font-size: 4em;
    font-family: Arial, Times, serif;
    font-weight: bold;
    margin-bottom: 0.7em;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.goal {
    margin-bottom: 1em;
}

